#ss {
  background-color: transparent;
  border: none;
  text-align: left;
  color: white;
  font-size: 24px;
}

#ss::placeholder {
  color: white;
  font-size: 24px;
  
}

a {
  color: white;
  text-decoration: none;
}

.infoutili-child {
  align-self: stretch;
  height: 1206px;
  position: relative;
  background-color: var(--color-white);
  display: none;
}
.header-child {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-black);
}
.frame-child {
  height: 72px;
  width: 8px;
  position: relative;
  border-radius: var(--br-31xl);
  z-index: 1;
}
.visioni-illustrate {
  align-self: stretch;
  position: relative;
  white-space: nowrap;
  z-index: 1;
}
.vector-parent,
.visioni-illustrate-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.visioni-illustrate-wrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-base) 0 0;
}
.vector-parent {
  width: 300px;
  flex-direction: row;
  gap: var(--gap-3xs);
}
.frame-item,
.text {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.frame-item {
  width: 1px;
  max-height: 100%;
  object-fit: contain;
  min-height: 72px;
}
.text {
  letter-spacing: -0.01em;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  min-width: 68px;
}
.text-wrapper {
  width: 72px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lg) 4px 0 0;
  box-sizing: border-box;
}
.frame-inner,
.text1 {
  position: relative;
  z-index: 1;
}
.frame-inner {
  align-self: stretch;
  width: 1px;
  max-height: 100%;
  object-fit: contain;
  min-height: 72px;
}
.text1 {
  letter-spacing: -0.01em;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  min-width: 68px;
}
.text-container {
  flex: 0.7816;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lg) var(--padding-lgi) 0 0;
}
.arrow-icon {
  height: 0.5px;
  width: 0;
  position: absolute;
  margin: 0 !important;
  right: 121px;
  bottom: 30.5px;
  object-fit: contain;
  z-index: 1;
}
.line-icon,
.text2 {
  position: relative;
  z-index: 1;
}
.line-icon {
  align-self: stretch;
  width: 1px;
  max-height: 100%;
  object-fit: contain;
  min-height: 72px;
}
.text2 {
  letter-spacing: -0.01em;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  min-width: 80px;
}
.frame-parent,
.text-frame {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lg) 0 0;
}
.frame-parent {
  flex-direction: row;
  padding: 0 var(--padding-11xs) 0 0;
  position: relative;
  gap: var(--gap-mid);
}
.frame-child1,
.text3 {
  position: relative;
  z-index: 1;
}
.frame-child1 {
  align-self: stretch;
  width: 1px;
  max-height: 100%;
  object-fit: contain;
  min-height: 72px;
}
.text3 {
  letter-spacing: -0.01em;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  min-width: 89px;
  white-space: nowrap;
}
.frame-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lg) 0 0;
}
.frame-child2 {
  align-self: stretch;
  width: 1px;
  position: relative;
  max-height: 100%;
  object-fit: contain;
  min-height: 72px;
  z-index: 1;
}
.vector-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base) 0 0;
  gap: 15.5px;
}
.icons8-ricerca-500-1 {
  height: 29px;
  width: 29px;
  position: relative;
  object-fit: cover;
  min-height: 29px;
  z-index: 1;
}
.search {
  flex: 1;
  position: relative;
  font-size: var(--font-size-5xl);
  letter-spacing: -0.03em;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: right;
  display: inline-block;
  min-width: 77px;
  z-index: 1;
}
.icons8-ricerca-500-1-parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px;
}
.frame-wrapper {
  width: 117px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 21px;
  box-sizing: border-box;
}
.header,
.vector-group {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}
.vector-group {
  width: 626px;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) 0 0;
  gap: 19px;
  text-align: center;
  font-size: var(--font-size-5xl);
}
.header {
  align-self: stretch;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 41px 0 var(--padding-5xs);
  position: sticky;
  top: 0;
  z-index: 99;
  gap: 20px;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.hero5-child {
  width: 1600px;
  height: 2238px;
  position: relative;
  background-color: var(--color-black);
  display: none;
  max-width: 100%;
}
.rectangle-icon {
  height: 505px;
  width: 8px;
  position: relative;
  border-radius: var(--br-31xl);
  z-index: 1;
}
.laboratorio-bambini {
  margin: 0;
}
.il-laboratorio-creativo {
  margin: 0;
  font-size: var(--font-size-5xl);
}
.laboratorio-bambini-il-container {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.laboratorio-bambini-il-laborat-wrapper,
.vector-parent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.laboratorio-bambini-il-laborat-wrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-lgi) 0 0;
  box-sizing: border-box;
  max-width: calc(100% - 41px);
}
.vector-parent1 {
  width: 665px;
  flex-direction: row;
  gap: 33px;
  flex-shrink: 0;
  debug_commit: 1de1738;
  max-width: 100%;
}
.a1291284af865d1e4cf5e7cc8e2a-1-icon {
  height: 557px;
  flex: 1;
  position: relative;
  max-width: calc(100% - 43px);
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.frame-child3 {
  height: 730px;
  width: 8px;
  position: relative;
  border-radius: var(--br-31xl);
  z-index: 1;
}
.a1291284af865d1e4cf5e7cc8e2a-1-parent {
  width: 1045px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 35px;
  flex-shrink: 0;
  debug_commit: 1de1738;
  max-width: 100%;
}
.header-parent,
.hero5,
.hero5-inner {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.hero5-inner {
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 3px;
  box-sizing: border-box;
}
.header-parent,
.hero5 {
  flex-direction: column;
  justify-content: flex-start;
}
.hero5 {
  height: 1119px;
  background-color: var(--color-black);
  overflow: hidden;
  flex-shrink: 0;
  padding: 0 253px 614px;
  box-sizing: border-box;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.header-parent {
  gap: var(--gap-3xs);
}
.footer-child {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-black);
}
.blank-line,
.blank-line1,
.chi-siamo,
.privacy,
.social {
  margin: 0;
}
.text4 {
  height: 206px;
  width: 160px;
  position: absolute;
  margin: 0 !important;
  top: -59px;
  left: 524px;
  letter-spacing: -0.01em;
  line-height: 150%;
  display: inline-block;
  z-index: 1;
}
.frame-child4 {
  width: 8px;
  flex: 1;
  position: relative;
  border-radius: var(--br-31xl);
  max-height: 100%;
  z-index: 1;
}
.vector-wrapper {
  height: 138px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base) 0 0;
  box-sizing: border-box;
}
.text5 {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 150%;
  z-index: 1;
}
.text-wrapper1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 13px 0 0;
  box-sizing: border-box;
  min-width: 312px;
  max-width: 100%;
}
.rectangle-div {
  align-self: stretch;
}
.frame-child5,
.frame-child6,
.rectangle-div {
  height: 32px;
  position: relative;
  border-radius: var(--br-lg);
  background-color: var(--color-gainsboro);
  z-index: 2;
}
.frame-child5 {
  width: 97px;
}
.frame-child6 {
  align-self: stretch;
}
.rectangle-parent {
  align-self: stretch;
  flex-direction: column;
  gap: 3px;
}
.frame-container,
.frame-group,
.rectangle-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-container {
  width: 118px;
  flex-direction: column;
  padding: 17px 0 0;
  box-sizing: border-box;
}
.frame-group {
  width: 630px;
  flex-direction: row;
  gap: 4px;
  max-width: 100%;
}
.livello-2-1-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.footer,
.infoutili,
.livello-2-1-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.livello-2-1-wrapper {
  height: 118.8px;
  width: 213px;
  flex-direction: column;
  padding: var(--padding-lgi) 0 0;
  box-sizing: border-box;
}
.footer,
.infoutili {
  position: relative;
}
.footer {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-5xs);
  box-sizing: border-box;
  gap: 503px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.infoutili {
  width: 100%;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  gap: 5px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1300px) {
  .hero5 {
    padding-bottom: 399px;
    box-sizing: border-box;
  }
  .footer {
    flex-wrap: wrap;
    gap: 251px;
  }
}
@media screen and (max-width: 1125px) {
  .frame-parent {
    display: none;
  }
  .vector-group {
    width: 315px;
  }
  .hero5 {
    padding-left: var(--padding-107xl);
    padding-right: var(--padding-107xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .vector-parent1 {
    gap: 16px;
  }
  .a1291284af865d1e4cf5e7cc8e2a-1-parent {
    gap: var(--gap-mid);
  }
  .hero5 {
    padding-bottom: 259px;
    box-sizing: border-box;
  }
  .frame-group {
    flex-wrap: wrap;
  }
  .footer {
    gap: 126px;
  }
}
@media screen and (max-width: 450px) {
  .laboratorio-bambini-il-container {
    font-size: var(--font-size-lgi);
  }
  .hero5 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .text4,
  .text5 {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .footer {
    gap: 63px;
  }
}
